@import url('../General/MainGeneral.css');

.text p{
    padding: 20px 0;
}

#contenido{
    width: 1400px;
    margin: auto;
}

#contenido div {
    display: inline-block;
    vertical-align: middle;
}

main #img {
    width: 900px;
    text-align: right;
}

