@import url('../General/MainGeneral.css');

.text p{
    padding: 20px 0;
}

#contenido{
    width: 1400px;
    margin: auto;
}

#contenido div {
    display: inline-block;
    vertical-align: middle;
}

main #img {
    width: 900px;
    text-align: right;
}

#txt_Usuario {
    background-color: #f3f1f1;
    border-radius: 6px;
    font-size: 20px;
}

#btn_ingresar {
    border-radius: 6px;
    cursor: pointer;
    background-color: #007FFF;
    font-weight: bold;
}

    #btn_ingresar:hover {
        background-color: dodgerblue;
    }

