@import url('../General/MainGeneral.css');

main #menu #tabs {
    width: 1000px;
    margin: 0 auto;
}

#principal {
    width: 350px;
    margin: 30px auto;
    border-radius: 30px;
    border: solid 2px #000000;
}

#principal p {
    padding: 20px;
    text-align: center;
}

#principal .p {
    font-size: 25px;
    font-weight: bold;
}

#tabs div .Textbox {
    background-color: #f3f1f1;
    border-radius: 6px;
    font-size: 20px;
}

.principal {
    margin: 0 50px 0 60px;
    text-align: right;
    vertical-align: middle;
}

.tab .principal {
    display: inline-block;
    border: solid 2px #000000;
    border-radius: 30px;
    margin: 30px 6%;
}

.principal p {
    padding: 20px;
    text-align: center;
}

.principal .p {
    font-size: 25px;
    font-weight: bold;
}