@import url('../General/MainGeneral.css');

main #menu #tabs {
    width: 1000px;
    margin: 0 auto;
}

#principal {
    width: 350px;
    margin: 30px auto;
    border: solid 2px #000000;
}

#principal p {
    padding: 20px;
    text-align: center;
}

#principal .p {
    font-size: 25px;
    font-weight: bold;
}

#tabs div .Textbox {
    background-color: #f3f1f1;
    border-radius: 6px;
    font-size: 20px;
}

.boton {
    margin: 30px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #007FFF;
}

    .boton:hover {
        background-color: dodgerblue;
    }

.principal {
    margin: 0 50px 0 60px;
    text-align: right;
    vertical-align: middle;
}

#tabs-1 .principal {
    display: inline-block;
}

#tabs-2 .principal {
    display: inline-block;
    border: solid 2px #000000;
}

#tabs-3 .principal {
    display: inline-block;
}

#tabs-4 .principal {
    display: inline-block;
}

#tabs-5 .principal {
    display: inline-block;
}


.principal p {
    padding: 20px;
    text-align: center;
}

.principal .p {
    font-size: 25px;
    font-weight: bold;
}

.btn_accion {
    width: 200px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #007FFF;
    font-weight: bold;
}

    .btn_accion:hover {
        background-color: dodgerblue;
    }