@import url('../General/MainGeneral.css');
/** {
    padding: 0;
    margin: 0;*/
    /*border: solid 0.5px #000000*/
/*}

body {
    background-image: url('../../Img/fondo-abstracto-onda-blanca-gris-diseno-suave-trabajo-grafico_41084-468.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-y: 150px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}*/

/*************************Encabezado*************************************/

/*#encab {
    background-image: url('../../Img/fondo-blanco-patrones-triangulares_1017-18410.jpg');
    margin: 0 0 30px 0;
}

    #encab li {
        display: inline-block;
        padding: 10px;
        vertical-align: middle;
    }

#titulo {
    margin-left: 700px;
    text-align: center;
}

#salir {
    margin-left: 400px;
}

    #salir a {
        font-size: 25px;
        text-decoration: none;
    }

        #salir a:hover {
            color: red;
            text-decoration: underline;
        }*/

/***************************Principal*********************************/


main #menu #tabs {
    width: 1000px;
    margin: 0 auto;
}

#principal {
    width: 350px;
    margin: 30px auto;
    border: solid 2px #000000;
}

#principal p {
    padding: 20px;
    text-align: center;
}

#principal .p {
    font-size: 25px;
    font-weight: bold;
}

#tabs div .Textbox {
    background-color: #f3f1f1;
    border-radius: 6px;
    font-size: 20px;
}

.boton {
    margin: 30px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #007FFF;
}

    .boton:hover {
        background-color: dodgerblue;
    }

.principal {
    margin: 0 50px 0 60px;
    text-align: right;
    vertical-align: middle;
}

#tabs-1 .principal {
    display: inline-block;
}

#tabs-2 .principal {
    display: inline-block;
    border: solid 2px #000000;
}

#tabs-3 .principal {
    display: inline-block;
}

#tabs-4 .principal {
    display: inline-block;
}

#tabs-5 .principal {
    display: inline-block;
}


.principal p {
    padding: 20px;
    text-align: center;
}

.principal .p {
    font-size: 25px;
    font-weight: bold;
}

.btn_accion {
    width: 200px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #007FFF;
    font-weight: bold;
}

    .btn_accion:hover {
        background-color: dodgerblue;
    }

/**************************Pie de Página*****************************/

/*#PiePag {
    padding: 20px;
    text-align: center;
}*/
