* {
    padding: 0;
    margin: 0;
    border: solid 1px #000000
}

body {
    background-image: url('../../Img/fondo-abstracto-onda-blanca-gris-diseno-suave-trabajo-grafico_41084-468.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-y: 150px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    float: none;
    resize: both;
}

/****************************Encabezado************************************/

#encab {
    background-image: url('../../Img/fondo-blanco-patrones-triangulares_1017-18410.jpg');
    margin: 0 0 30px 0;
}

#encab li {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

#titulo {
    margin-left: 650px;
    text-align: center;
}

#titulo #current_date{
    padding: 30px;
    font-size: 18px;
}

#titulo p{
    padding: 30px 0 0 0;
}

#salir {
    margin-left: 400px;
    text-align: right;
}

#salir a {
    font-size: 25px;
    text-decoration: none;
}

#salir a:hover {
    color: red;
    text-decoration: underline;
}

/*@media (max-width: 480px){
    * {
        padding: 0;
        margin: 0;
        border: solid 1px #000000
    }

    body {
        background-image: url('../../Img/fondo-abstracto-onda-blanca-gris-diseno-suave-trabajo-grafico_41084-468.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position-y: 150px;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        float: none;
        resize: both;
    }*/

    /****************************Encabezado************************************/

    /*#encab {
        background-color: darkblue;
        margin: 0 0 30px 0;
    }

        #encab li {
            display: inline-block;
            padding: 10px;
            vertical-align: middle;
        }

    #titulo {
        margin-left: 650px;
        text-align: center;
    }

        #titulo #current_date {*/
            /*padding: 30px;*/
            /*font-size: 18px;
        }

        #titulo p {
            padding: 30px 0 0 0;
        }

    #salir {
        margin-left: 400px;
        text-align: right;
    }

        #salir a {
            font-size: 25px;
            text-decoration: none;
        }

            #salir a:hover {
                color: red;
                text-decoration: underline;
            }
}*//*Fin tamaño pequeño**********************************************************************/

/*@media (min-width: 481px) and (max-width: 980px){
    * {
        padding: 0;
        margin: 0;
        border: solid 1px #000000
    }

    body {
        background-image: url('../../Img/fondo-abstracto-onda-blanca-gris-diseno-suave-trabajo-grafico_41084-468.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position-y: 150px;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        float: none;
        resize: both;
    }*/

    /****************************Encabezado************************************/

    /*#encab {
        background-color: crimson;
        margin: 0 0 30px 0;
    }

        #encab li {
            display: inline-block;
            padding: 10px;
            vertical-align: middle;
        }

    #titulo {
        margin-left: 650px;
        text-align: center;
    }

        #titulo #current_date {*/
            /*padding: 30px;*/
            /*font-size: 18px;
        }

        #titulo p {
            padding: 30px 0 0 0;
        }

    #salir {
        margin-left: 400px;
        text-align: right;
    }

        #salir a {
            font-size: 25px;
            text-decoration: none;
        }

            #salir a:hover {
                color: red;
                text-decoration: underline;
            }
}*//*Fin tamaño mediano***********************************************************************************/

/*@media (min-width: 981px){
    * {
        padding: 0;
        margin: 0;
        border: solid 1px #000000
    }

    body {
        background-image: url('../../Img/fondo-abstracto-onda-blanca-gris-diseno-suave-trabajo-grafico_41084-468.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position-y: 150px;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        float: none;
        resize: both;
    }*/

    /****************************Encabezado************************************/

    /*#encab {
        background-color: gold;
        margin: 0 0 30px 0;
    }

        #encab li {
            display: inline-block;
            padding: 10px;
            vertical-align: middle;
        }

    #titulo {
        margin-left: 650px;
        text-align: center;
    }

        #titulo #current_date {*/
            /*padding: 30px;*/
            /*font-size: 18px;
        }

        #titulo p {
            padding: 30px 0 0 0;
        }

    #salir {
        margin-left: 400px;
        text-align: right;
    }

        #salir a {
            font-size: 25px;
            text-decoration: none;
        }

            #salir a:hover {
                color: red;
                text-decoration: underline;
            }
}*//*Fin tamaño grande*/