
UI/obj/Debug/UI.csproj.AssemblyReference.cache
.vs/AsoBac88/config/applicationhost.config
UI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UI/obj/Debug/UI.csproj.AssemblyReference.cache
UI/obj/
UI/bin/
.vs/AsoBac88/v16/.suo
