@import url('../General/MainGeneral.css');

p{
    /*border: solid 2px #ff0000*/
}

#contenedor {
    text-align: center;
    margin-top: 60px;
    padding: 30px;
    width: 490px;
    margin: 30px auto;
    border-radius: 30px;
    border: solid 2px #000000;
}

#Title{
    text-align: center;
    padding: 0 0 20px 0;
}

#contenedor_1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}