
@import url('../General/MainGeneral.css');

main #menu #tabs{
    width: 1000px;
    margin: 0 auto;
}

.principal{
    margin-right: 100px;
    text-align: right;
    vertical-align: middle;
}

#tabs-1 .principal{
    display: inline-block;
}

#tabs-2 .principal{
    display: inline-block;
}
#tabs-3 .principal {
    display: inline-block;
}

#tabs-4 .principal {
    display: inline-block;
}

#tabs-5 .principal {
    display: inline-block;
}

#tabs-6 .principal {
    display: inline-block;
}

.principal p {
    padding: 20px;
    text-align: center;
}

.btn_accion {
    width: 200px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #007FFF;
    font-weight: bold;
}

.btn_accion:hover {
    background-color: dodgerblue;
}

