
@import url('../General/MainGeneral.css');


#contenido {
    /*border: solid 1px #00ff21;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 1400px;
    margin: 30px auto;
}

#contenido #Boton{
    text-align: center;
}

.img {
    /*border: solid 3px #ff00dc;*/
    text-align: center;
    margin: 65% 0;
}

.text {
    padding:25px;
    border: solid 4px #000000;
    border-radius: 30px;
}

.text p{
    margin: 30px 0;
    text-align: center;
    /*border: solid 1px #ff6a00;*/
}

.text p .textbox {
    background-color: #f3f1f1;
    border-radius: 6px;
}